/* Estilos generales para el select */
select {
    width: 200px; /* Ajusta el ancho según tus necesidades */
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Estilos para el hover del select */
  select:hover {
    border-color: #555;
    box-shadow: 0 0 5px --amarillo;
  }
  
  /* Estilos para el foco del select */
  select:focus {
    outline: none;
    border-color: --amarillo; 
    box-shadow: 0 0 5px --amarillo;
  }
  
  .contenedor {
    width: 90%;
    max-width: 80rem;
    margin: 0 auto;
}
.contenedor-presupuesto {
    margin-top: -5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transform: translateY(5rem);
}
.gasto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}

.Titulos{
  color: var(--amarillo);
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 2rem;
  text-decoration: none;
  font-weight: 900;
}

.contenido-gasto {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.margenHorizontal{
  margin: 0 auto;
}

.contenido-URL {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}